*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* preloader start */
  #preloader
  {
    background: #fff url(image/preloader.gif) no-repeat center center;
    background-size: 40%;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100%;
  }
/* preloader end */